.registration {
    width: 70%;
    margin: 0 auto;
}

.error-message {
    width: 25%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.registration div {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 10px;
}

.registration form button {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

.registration form {

    display: block;
    margin: 0 auto;
}


.login {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
}

.login div {
    width: 25%;
    margin: 0 auto;
}

.login button {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}

.feedback-title {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.feedback-card {
    width: 50%;
    margin: 0 auto;
    margin-top: 10px;
}

.todays-weather {
    width: 20%;
    margin: 0 auto;
}

.weather-day {
    text-align: center;
}

.weather-temperature {
    display: flex;
    justify-content: space-evenly;
}

.temperature {
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    width: 50%;
    justify-content: space-around;
}